{% if site.disqus %}
<div class="comments">
	<div id="disqus_thread"></div>

	<script type="text/javascript">
	    var disqus_shortname = '{{ site.disqus }}';

	    function loadDisqus() {
	        if (window.DISQUS_LOADED) return; // Prevent multiple loads
	        window.DISQUS_LOADED = true;

	        var dsq = document.createElement('script');
	        dsq.type = 'text/javascript';
	        dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    }

	    if ('IntersectionObserver' in window) {
	        var observer = new IntersectionObserver(function(entries) {
	            if (entries[0].isIntersecting) {
	                loadDisqus();
	                observer.disconnect();
	            }
	        }, { threshold: 0.1 });

	        observer.observe(document.getElementById('disqus_thread'));
	    } else {
	        // Fallback for older browsers
	        loadDisqus();
	    }
	</script>

	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
